.png-icon-phone {
	width: 24px;
	height: 24px;
	background: url(../images/icon-phone-rotary.png) no-repeat;
	display: inline-block;
}
[class^=png-icon-homebar] {
	width: 49px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}
.png-icon-homebar1 {
	background: url(../images/icon-uber.png) no-repeat center center;
}
.png-icon-homebar2 {
	background: url(../images/icon-GUT.png) no-repeat center center;
}
.png-icon-homebar3 {
	background: url(../images/icon-GEBRAUCHT.png) no-repeat center center;
}
.page-header.type0.header-newskin .minicart-wrapper .action.showcart:before, .page-header.type0.header-newskin .minicart-wrapper .action.showcart.active:before {
	background: url(../images/icon-cart.png) no-repeat;
	width: 33px;
	height: 29px;
	content: '';
}
.page-main {
	position: relative;
	padding-left: 24px;
	padding-right: 24px;

	&:before, &:after {
		content: " ";
		height: 100%;
		position: absolute;
		top: 0;
		width: 6px;
	}
	&:before {
		box-shadow: inset -6px 0 6px -6px rgba(0,0,0,0.15);
		left: -6px;
	}
	&:after {
		box-shadow: inset 6px 0 6px -6px rgba(0,0,0,0.15);
    	right: -6px;
	}
}
.sw-megamenu.navigation li.level0.staticwidth .submenu .menu-right-block > a > img {
	height: auto;
	bottom: 0;
}