@media (min-width: 768px) {
    .page-footer>.footer {
        max-width: 720px
    }
}
@media (min-width: 992px) {
    .page-footer>.footer {
        max-width: 960px
    }
}
@media (min-width:1200px){
    .block.category.event,.footer.content,.header.content,.navigation,.page-header .header.panel,.page-main,.page-wrapper>.breadcrumbs,.page-wrapper>.page-bottom,.page-wrapper>.widget,.top-container, .page-footer>.footer, .container {
        max-width: 1190px
    }
}
.product-item-info.type9 .product.name a {
    font-size: 13px;
    line-height: 18px;
    font-family: "Nunito";
}
.products {
    margin: 0;
}
.page-wrapper > .container, .main-upsell-product-detail .container {
    padding-left: 24px;
    padding-right: 24px;
}
.catalog-product-view .sidebar .custom-block {
    padding: 22px 20px;
    background: #F4F4F4;
    margin-bottom: 10px;
    font-size: 12px;
}
.catalog-product-view .sidebar .custom-block .custom-block-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.catalog-product-view .sidebar .custom-block strong {
    font-size: 18px;
}
@media (max-width: 991px) {
    .catalog-product-view .sidebar.sidebar-additional, .catalog-product-view .sidebar.sidebar-main {
        position: fixed;
    }
}